@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 24, 24, 27;
}

html, body {
  margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  width: 100%;
  height: 100vh;
}

/* Main layout containers */
.full-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* ReactFlow container */
.flow-container {
  width: 100%;
  height: 100%;
}

/* Full height layout containers */
body > div:first-child {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* ReactFlow nodes */
.react-flow__node {
  max-width: 250px;
  width: auto !important;
}

#__next {
  height: 100%;
} 